@charset "UTF-8";
/* 모바일 화면용 CSS */
	.card-header{
		text-align: center;
	}
	#accountList{
		height: 300px;
		overflow: auto;
	}
	#accountListWrite{
		display : none;
	}
	table{
		width: 100%;
		text-align: center;
	}
	th{
		width: 40%;
	}
	#BTNDIV{
		margin-top : 5%;
		text-align: center;
	}
	#RegBTN{
		width: 70%;
		margin-bottom: 5%;
		
	}
	/* 다음 주소 api */
	#btnFoldWrap{
		cursor:pointer;
		position:absolute;
		right:0px;
		top:-1px;
		z-index:1;
	}
	#wrap{
		display:none;
		border:1px solid;
		width:100%;
		height:300px;
		margin:5px auto;
		position:relative;
	}
	/* 다음 주소 api */
	
	/* input type=number의 화살표 제거 */
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	.addrselbtn{
		width: 100%;
		height: 100%;
	}

/* pc 큰 화면 */
@media ( min-width :1024px) {
	.card{
		height: 300px;
	}
	
	.basic, .account{
		float : left;
		width: 41%;
		margin-top: 2%;
		margin-left: 6%;
	}
	.address{
		clear: both;
		margin-left: 6%;
		width: 88%;
	}
	#BTNDIV{
		margin-top : 5%;
		text-align: center;
	}
	#RegBTN{
		width: 30%;
		font-size: 150%;
		margin-bottom: 1%;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* 다음 주소 api */
	#btnFoldWrap{
		cursor:pointer;
		position:absolute;
		right:0px;
		top:-1px;
		z-index:1;
	}
	#wrap{
		display:none;
		border:1px solid;
		width:100%;
		height:300px;
		margin:5px auto;
		position:relative;
	}
	/* 다음 주소 api */

	/* input type=number의 화살표 제거 */
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
}